@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary_color: #dd8930;
  --secondary_color: #f5d4b7;
  --heading_color: #000000;
  --body_bg: #fff1e2;
  --text_color: #000000;
  --font_name: "Poppins", sans-serif;
  --primary_color: #dd8930;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--body_bg);
  font-family: var(--font_name);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

p {
  color: var(--text_color);
  font-size: 1.5rem;
  line-height: 28px;
}

h1 {
    color: var(--heading_color);
    font-weight: 500;
  }
h2 {
    color: var(--heading_color);
    font-weight: 500;
  }
h3 {
    color: var(--heading_color);
    font-weight: 500;
  }
h4 {
  color: var(--heading_color);
  font-weight: 500;
}

.logo img{
    width: 80px;
    margin-top: 2px;
}

.container {
  width: 1140px;
  margin: auto;
  padding: 0px 20px;
}

.highlight {
  color: var(--primary_color);
  width: 180%;
}

.home_content p {
    width: 150%;
}

section {
  padding: 60px 0px;
}

/* header */

.nav {
    position: fixed; 
    width: 100%;
    height: 80px;
    line-height: 80px;
    z-index: 9999;
    background-color: #ffdebab1;
    top: 0%;
    left: 0%;
  }

.nav_bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2.7rem;
}

.nav_link {
  color: var(--text_color);
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--primary_color);
}

.nav_item:nth-child(1) a {
  color: #000000;
  position: relative;
  z-index: 9;
}

/* footer */
.footer {
    background-color: var(--primary_color); 
    padding: 20px; 
    text-align: center;
    margin-top: auto;
    width: 100%;
    margin-top: 50px;
  }
  
  .footer_box {
    max-width: 960px; 
    margin: 0 auto;
  }
  
  .footer h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 1rem;
    margin-bottom: 5px; 
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    background: #fff1e2;

  }
  form {
    padding: 25px;
    background: #f5d4b7;
    max-width: 500px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    margin-top: 100px;
  }
  form h2 {
    font-size: 27px;
    text-align: center;
    margin: 0px 0 30px;
  }
  form .form_group {
    margin-bottom: 15px;
    position: relative;
  }

  form label {
    display: block;
    font-size: 15px;
    margin-bottom: 7px;
  }
  
  form input{
    height: 45px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #000000;
  }
  
  form select {
    height: 45px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #000000;
  }
  form input:focus,
  form select:focus {
    border-color: #ffffff;
  }

  .submit_btn {
    margin-top: 30px;
  }

  .submit_btn input {
    color: white;
    border: none;
    height: auto;
    font-size: 16px;
    padding: 13px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background: #dd8930;
    transition: 0.2s ease;
  }
  .submit_btn input:hover {
    background: #dd8930;
  }

  

@media (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 10px;
    }
  
    .nav_bg {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav {
      height: auto;
      line-height: normal;
    }
  
    .nav_link {
      padding: 10px 0;
    }
  
    .nav_item {
      width: 100%;
    }
  
    form {
      margin-top: 20px;
      padding: 15px;
    }
  
    form h2 {
      font-size: 24px;
    }
  
    form .form_group {
      margin-bottom: 10px;
    }
  
    form input{
        font-size: 14px;
    }

    form select {
      font-size: 14px;
    }
  
    .submit_btn input {
      font-size: 14px;
      padding: 10px 0;
    }
  }
